@model IEnumerable<DGuide.ViewModels.ArticleSummary>

@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Title</h3>

<p>
    Developer Guide is a knowledge repository for development team. The goal is to centralize development knowledge and 
    organize it in an easy to access format. This guide will cover topics such as:
</p>
<li>.Net coding techniques for application development</li>
<li>T-SQL coding techniques for database development</li>
<li>Performance tracing techniques</li>
<li>Debugging techinques</li>
<li>Best practices</li>
<li>How-To guides for common tasks</li>
<br />

<h3>Contribute</h3>
<p>
    There are many ways to contribute to this project. You can create your own articles on topics that you have experience with, feel strongly about, or share with others. 
    If you are not ready to write articles yet, you can contribute by answering questions. If you cannot answer questions, you can still contribute by asking questions. 
    Please remember good questions are equally important because others may have the same question.
    
    Voting is an important part of the guide. If you feel the article, question, or answer was helpful please vote for the item. Conversely, you may vote against items that are written poorly.
    This will cause better articles/questions to get prioritized over poor articles/questions. Furthermore, it helps contributors follow good practices and avoid bad ones.
</p>
<br />

<h3>Project</h3>
<p>
    Developer Guide is built using the latest technology such as Asp .Net MVC 5, Entity Framework 6, jQuery 2.1.0, and many others. It provides exposure to recent developments in .Net technology and open source software.
    There is ample opportunity to enhance this product. Enough interest in the project may lead to a dedicated code area. 
</p>
<br />

<h3>Issues and Enhancements</h3>
<p>
    Despite our best efforts, this product is not complete, and we may have overlooked some errors. If you encounter, issues please contact me directly. I will try to address them as early as possible.
    If you have suggestions or comments, I'd love to hear them.
</p>
<br />

<h3>Contact</h3>
<address>
    <strong>Address:</strong><br />
    1 One Street<br />
    Suite 111<br />
    New York, NY 10001<br />
    <abbr title="Phone">P:</abbr>
    111.111.1111<br />
    <a href="mailto:support@yourcompany.com">support@yourcompany.com</a>
</address>